.content{
	background-color: #fcfcfc;
}
.content .top nav{
	float: left;
}
.content .top nav a{
	float: left;
	width: 136px;
	height: 35px;
	background-color: #7f7f7f;
	font: bold 16px/35px "微软雅黑";
	text-align: center;
	margin-right: 1px;
}
.content .top nav a i{
	border: 10px solid transparent;
	border-top-color: #ef4813;
	border-bottom: none;
	display: none;
}
.content .top nav li:first-child a{
	background-color: #494949;
}
.content .top nav li{
	float: left;
}
.content .top nav li a{
	color: #fff;
}
.content .top nav li a:hover{
	background-color: #ef4811;
}
.content .top nav li a:hover i{
	display: block;
	position: absolute;
	margin-left: 60px;
}
.content .top>div:last-child{
	height: 35px;
	box-sizing: border-box;
	background-color: #F1F1F1;
	border-bottom: 2px solid #c1c1c1;
}
.content .top>div:last-child p{
	margin-right: 25px;
	float: right;
	line-height: 35px;
	color: #666666;
}
.content .top>div:last-child p a{
	color: #666666;
}
.content .bottom{
	padding: 54px 17px;
	border: 1px solid #e8e8e8;
}
.content .bottom dt{
	float: left;
}
.content .bottom dd{
	float: left;
	width: 682px;
	margin-left: 14px;
}
.content .bottom dd p:first-child{
	font: 18px/19px "微软雅黑";
	color: #EF4811;
	background: url(../images/tel.png) 7px 0 no-repeat;
	text-indent: 30px;
	margin-bottom: 7px;
}
.content .bottom dd p:nth-child(2){
	border-top: 1px solid #cacaca;
	border-bottom: 1px dotted #cacaca;
	padding: 12px 0;
	margin-left: 8px;
}
.content .bottom dd p:nth-child(2) span{
	display: block;
	font: bold 24px/32px "微软雅黑";
	color: #939393;
}
.content .bottom dd p:nth-child(2) i{
	font: normal 18px/32px "微软雅黑";
}
.content .bottom dd p:nth-child(3) em{
	display: block;
	font: 18px/30px "微软雅黑";
	color: #a0a0a0;
}
.content .bottom dd p:nth-child(3){
	padding: 12px 0;
	border-bottom:  1px dotted #cacaca;
	margin-left: 8px;
	text-indent: 6px;
}
